<!doctype html>
<html>
<head>
    <title>InnerCircle-Profile Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1> Journal Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/about" class="btn btn-default btn-sm">Search</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>email</strong>: <%= user.local.email %><br> 
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h2>Add a Journal Entry</h2>
        <% if (user.local.email) { %>
          <form action="/emotionsJournal" method="post" onsubmit="handleSubmit(event)" id="formInput">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <label for="prompt">Choose a Journal Prompt:</label>
            <select name="prompt" id="prompt" required>
              <option value="What is the dominant emotion you’re feeling right now?">What is the dominant emotion you’re feeling right now?</option>
              <option value="What do you think happened to trigger the emotion you’re currently feeling?">What do you think happened to trigger the emotion you’re currently feeling?</option>
              <option value="What would you rather be doing right now?">What would you rather be doing right now? </option>
              <option value="What is your greatest fear?">What is your greatest fear?</option>
              <option value="Name five things you’re thankful for, and explain why.">Name five things you’re thankful for, and explain why.</option>
              <option value="Write out an apology to someone you feel deserves it.">Write out an apology to someone you feel deserves it.</option>
              <option value="What typically triggers a bad mood for you?">What typically triggers a bad mood for you?
              </option>
            </select>
            <textarea type="entry" name="entry" id="entry" cols="50" rows="15" placeholder="Type up your thoughts and feelings here"></textarea>
            <button type="submit" id="btn">Submit</button>
          </form>
        </div>
        <% } %>

        <div class="container">
          <canvas id="myChart"></canvas>
        </div>
        <div class="col-sm-6">
          <h2>Emotions</h2>
          <span id="result-container"></span>
        </div> <br>
        <br>
        <br>
        <br>
        <h3>Journal Entries</h3>
          <ul class="entries">
          <% for (var i = 0; i<journal.length; i++) {%>
            <li class="entriesTwo">
              <span class="dates"><%= journal[i].date %></span>
              <span class="prompts"><%= journal[i].prompt %></span>
              <span class="entry"><%= journal[i].entry %></span>
              <textarea type="text" name="" class="hide editEntry" value="<%=journal[i].entry%>"></textarea>
              <span class="edit">
                <i class="fa fa-pencil" ></i>
              </span>
              <span class="hide">
                <i class="ph ph-upload-simple" data-id="<%=journal[i]._id %>"></i>
              </span>
              <span>
                <i class="fa fa-trash" data-id="<%=journal[i]._id %>" ></i>
              </span>
            </li>
          <% } %>
          </ul>
</div>


<script src="main.js"></script>
<script src="app.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  
  const data = {
    labels:['Fear', 'Angry', 'Happy', 'Excited', 'Sad', 'Fear', 'Bored'],
    datasets:[{
      label: 'Journal # 1',
      data: [
                0.3,
                0.05,
                0.7,
                0.3,
                0.2,
                0.1,
                0.0
            ],
        fill: true,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgb(255, 99, 132)',
        pointBackgroundColor: 'rgb(255, 99, 132)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgb(255, 99, 132)'
    },{
        label: 'Journal # 2',
          data: [0.7, 0.3, 0.5, 0.1, 0.0, 0.0, 0.2],
          fill: true,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgb(54, 162, 235)',
          pointBackgroundColor: 'rgb(54, 162, 235)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(54, 162, 235)'
    }]
  }
  const options = {
    scale: {
      ticks: {
        beginAtZero: true
      }
    }
  };

  const ctx = document.getElementById('myChart').getContext('2d');
  new Chart(ctx, {
    type: 'radar',
    data: data,
    options: options
  });
  //   let ctx = document.getElementById('myChart').getContext('2d')
// let myChart = new Chart(ctx,{
//     type:'line',
//     data:{
//         labels:['Fear', 'Angry', 'Happy', 'Excited', 'Sad', 'Fear', 'Bored'],
//         datasets:[{
//             label:'Emotions',
//             data:[
//                 0.3,
//                 0.05,
//                 0.7,
//                 0.3,
//                 0.2,
//                 0.1,
//                 0.0
//             ],
//             backgroundColor: [
//           'rgba(255, 99, 132, 0.2)',
//           'rgba(54, 162, 235, 0.2)',
//           'rgba(255, 206, 86, 0.2)',
//           'rgba(75, 192, 192, 0.2)',
//           'rgba(153, 102, 255, 0.2)',
//           'rgba(255, 159, 64, 0.2)'
//         ],
//         borderColor: [
//           'rgba(255, 99, 132, 1)',
//           'rgba(54, 162, 235, 1)',
//           'rgba(255, 206, 86, 1)',
//           'rgba(75, 192, 192, 1)',
//           'rgba(153, 102, 255, 1)',
//           'rgba(255, 159, 64, 1)'
//         ],
//         borderWidth: 1
//         }]
//     },
//     options:{
//       scales:{
//         y:{
//           beginAtZero: true
//         }
//       }
//     }
// }
})
</script>
</body>
</html>
