<!doctype html>
<html>
<head>
    <title>Users Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Journal Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>email</strong>: <%= user.local.email %><br> 
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h2>Add a Journal Entry</h2>
        <% if (user.local.email) { %>
          <form action="/emotionsJournal" method="post">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <label for="prompt">Choose a Journal Prompt:</label>
            <select name="prompt" id="prompt" required>
              <option value="prompt">What is the dominant emotion you’re feeling right now?</option>
              <option value="prompt">What do you think happened to trigger the emotion you’re currently feeling?</option>
              <option value="prompt">What would you rather be doing right now? </option>
              <option value="prompt">What is your greatest fear?</option>
              <option value="prompt">Name five things you’re thankful for, and explain why.</option>
              <option value="prompt">Write out an apology to someone you feel deserves it.</option>
              <option value="prompt">What typically triggers a bad mood for you?
              </option>
            </select>
            <textarea type="text" name="entry" id="entry" cols="50" rows="15" placeholder="Type up your thoughts and feelings here"></textarea>
            <button type="submit" id="btn">Submit</button>
          </form>
        </div>
        <% } %>
        
        <h3>Journal Entries</h3>
          <ul class="entries">
          <% for (var i = 0; i<journal.length; i++) {%>
            <li class="entries">
              <span><%= journal[i].date %></span>
              <span><%= journal[i].entry %></span>
              <input type="text" name="" class="hide editEntry" value="<%=journal[i].entry%>">
              <span class="edit">
                <i class="fa fa-pencil" ></i>
              </span>
              <span class="hide">
                <i class="ph ph-upload-simple" data-id="<%=journal[i]._id %>"></i>
              </span>
              <span>
                <i class="fa fa-trash" data-id="<%=journal[i]._id %>" ></i>
              </span>
            </li>
          <% } %>
          </ul>



</div>

<script src="main.js"></script>

</body>
</html>
